<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=510px">
	<title>きりたん</title>
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="きりたん">
	<meta name="twitter:description" content="きりたんかわいい">
	<meta name="twitter:image" content="http://{{host}}/icon.png">
	<link rel="shortcut icon" type="image/png" href="/icon.png">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div id="kiritan"></div>
	<div id="panel">
		<h1>きりたん</h1>
		<section>
			<label style="width: auto">
				<input name="type_select" type="radio" value="im6167817">
				東北きりたん【キャラ素材】
			</label>
		</section>
		<section id="selection">
			loading...
		</section>
		<form method="POST">
			<input type="hidden" name="type" id="type">
			<input type="hidden" name="data" id="data">
			<button>コミット</button>
			→ <a target="_blank" href="https://twitter.com/FunnyTimeMaker">連動先</a>
		</form>
		<section>
			<h1>ぎゃらりー</h1>
			<div id="history"></div>
		</section>
	</div>
	<script src="/static/js/im6167817.js"></script>
	<script src="/static/js/app.js"></script>
</body>
</html>